<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>${title}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-table/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.css">
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="css/googleFont.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper" id="mainApp">

    <header class="main-header">
        <a href="index.html" class="logo">
            <span class="logo-mini">--</span>
            <span class="logo-lg">${title}</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">退出</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                #foreach($menu in $menus)
                <li class="treeview">
                    <a href="javscript:" onclick="loadPage('$!menu.url',this)" url="$!menu.url" text="$menu.text">
                        <i class="fa fa-$menu.icon"></i> <span>$menu.text</span>
                        #if($!menu.children.size()>0)
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                        #end
                    </a>
                    #if($menu.children.size()>0)
                    <ul class="treeview-menu">
                        #foreach($secMenu in $menu.children)
                        <li>
                            <a href="javscript:" onclick="loadPage('$!secMenu.url',this)" url="$!secMenu.url"
                               text="$secMenu.text">
                                <i class="fa fa-$secMenu.icon"></i> <span>$secMenu.text</span>
                            </a>
                        </li>
                        #end
                    </ul>
                    #end
                </li>
                #end
            </ul>
        </section>
    </aside>

    <!--页面主体内容,通过ajax获取-->
    <div class="content-wrapper" style="background-color: white">
        <section class="content-header">
            <h1 id="contentTitle"></h1>
        </section>

        <section class="content" id="main-content">
        </section>
    </div>

</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-table/js/bootstrap-table.min.js"></script>
<script src="bower_components/bootstrap-table/js/bootstrap-table-zh_CN.min.js"></script>

<script src="dist/js/adminlte.js"></script>

<script src="bower_components/vue/vue.min.js"></script>
<script src="bower_components/vue/vee-validate.min.js"></script>
<script src="bower_components/vue/vue-i18n.min.js"></script>

<script src="js/utils.js"></script>
<script src="js/dialog.js"></script>
<script src="js/ajaxUtil.js"></script>
<script src="js/vueUtil.js"></script>
<script src="js/tableUtil.js"></script>
<script src="js/frame.js"></script>

</body>

<script>
    //ajax获取页面内容并加载到main-content
    //@param aLine 单击的链接,需要通过这个链接获取title,并设为选中
    function loadPage(url,aLink) {
        if (!url) {
            return;
        }
        var treeView=$(".treeview");
        for(var i=0;i<treeView.length;i++){
            $(treeView[i]).removeClass('active');
        }
        if(aLink){
            var parent= $(aLink).parent();
            for(var i=0;i<3;i++){
                if(!parent){
                    break;
                }
                if(parent.hasClass("treeview")){
                    parent .addClass("active");
                }
                parent=parent.parent();
            }
        }

        var aLink = $("a[url='" + url + "']");
        //如果url里带了参数就截取?前的
        if(!aLink){
            var location=url.split('?')[0]
            aLink = $("a[url='" + location + "']");
        }

        var title = aLink.attr("text");

        //避免死循环如果转发到首页,直接跳过
        if(!url||url=="/index"){
            return;
        }
        var newUrl = window.location.href.split('?')[0] + "?forward=" + url;
        window.history.pushState({}, 0, newUrl);
        ajaxUtil.html(url, "", function (html) {
            $("#main-content").html(html);
        })

        $("#contentTitle").text(title);

    }

    $(function () {
        var tree = $('.sidebar-menu').tree().data("lte.tree")
        tree.expandAll()
        var forward="$!forward"
        if(forward){
            loadPage(forward);
        }
    })
</script>
</html>
