<div id="app">


    <table class="form">
        <tr>
            <td style="width:10%;">测试服务器</td>
            <td><input name="hostname"></td>
            <td style="width:10%;">用户名</td>
            <td><input name="username"></td>
            <td style="width:10%;">密码</td>
            <td><input name="password"></td>
        </tr>
        <tr>
            <td>项目类型</td>
            <td>
                <select name="projectType">
                    <option value="simple">普通</option>
                    <option value="dubbo">dubbo</option>
                    <option value="SpringClould">spring clould</option>
                </select>
            </td>
            <td>文件生成目录</td>
            <td><input name="outputDir"></td>
        </tr>
        <tr>
            <td>项目名</td>
            <td>
                <input name="appName">
            </td>
            <td>主菜单名称</td>
            <td>
                <input name="menuName">
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <textarea style="width: 100%" rows="5" title="sql" name="sql" placeholder="请输入sql语句"></textarea>
            </td>
        </tr>

        <tr>
            <td>
                <div class="tab-pane ">
                    <button type="button" onclick="testPage()" class="btn btn-primary">预览</button>
                    <button type="button" onclick="crateCode()" class="btn btn-primary">生成代码</button>
                    <button type="button" onclick="runApp()" class="btn btn-primary">本地运行</button>
                </div>
            </td>
        </tr>
    </table>


</div>
<script>
    var appData = {
        sql: "",
        packageName: "",
        hostname: "myos",
        username: "root",
        password: "root",
        workdir: "/opt/temp",
        menuName: "首页",
        appName: "helloWorld",
        outputDir:"",
        projectType:"simple"
    }
    var vue = vueUtil.init({
        el: "#app",
        data: appData,
    })

    function testPage() {
        vueUtil.submit(vue, "/demo/setConfig", appData, function (id) {
            window.open("/demo/webIndex?configId=" + id)
        })
    }

    function createCode() {
        vueUtil.submit(vue, "$path/createCode", appData, function (msg) {
           alert(msg)
        })
    }
</script>